In [24]:
(require '[clojupyter.misc.helper :as helper])
(helper/add-dependencies '[panthera "0.1-alpha.12"])
:ok

:ok

In [25]:
(require '[panthera.panthera :as pt])
(require '[panthera.numpy :refer [npy]])

nil

In [26]:
(require '[clojupyter.display :as display])
(require '[libpython-clj.python :as py])

(defn show
  [obj]
  (display/html
    (py/call-attr obj "to_html")))

#'user/show

In [47]:
(show (pt/read-csv "../resources/pokemon.csv" {:nrows 10}))

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,10,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [49]:
(-> (pt/read-csv "../resources/pokemon.csv")
    (pt/head 10)
    show)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,10,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [50]:
(defonce pokemon (pt/read-csv "../resources/pokemon.csv"))

nil

In [51]:
(pt/names pokemon)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [52]:
(vec (pt/names pokemon))

["#" "Name" "Type 1" "Type 2" "HP" "Attack" "Defense" "Sp. Atk" "Sp. Def" "Speed" "Generation" "Legendary"]

In [55]:
(pt/shape pokemon)

(800, 12)

In [58]:
(pt/subset-cols pokemon :Name :HP :Speed "Defense")

                       Name   HP  Speed  Defense
0                 Bulbasaur   45     45       49
1                   Ivysaur   60     60       63
2                  Venusaur   80     80       83
3             Mega Venusaur   80     80      123
4                Charmander   39     65       43
5                Charmeleon   58     80       58
6                 Charizard   78    100       78
7          Mega Charizard X   78    100      111
8          Mega Charizard Y   78    100       78
9                  Squirtle   44     43       65
10                Wartortle   59     58       80
11                Blastoise   79     78      100
12           Mega Blastoise   79     78      120
13                 Caterpie   45     45       35
14                  Metapod   50     30       55
15               Butterfree   60     70       50
16                   Weedle   40     50       30
17                   Kakuna   45     35       50
18                 Beedrill   65     75       40
19            Mega Beedrill   65    145       40
20                   Pidgey   40     56       40
21                Pidgeotto   63     71       55
22                  Pidgeot   83    101       75
23             Mega Pidgeot   83    121       80
24                  Rattata   30     72       35
25                 Raticate   55     97       60
26                  Spearow   40     70       30
27                   Fearow   65    100       65
28                    Ekans   35     55       44
29                    Arbok   60     80       69
..                      ...  ...    ...      ...
770                 Sylveon   95     60       65
771                Hawlucha   78    118       75
772                 Dedenne   67    101       57
773                 Carbink   50     50      150
774                   Goomy   45     40       35
775                 Sliggoo   68     60       53
776                  Goodra   90     80       70
777                  Klefki   57     75       91
778                Phantump   43     38       48
779               Trevenant   85     56       76
780  Pumpkaboo Average Size   49     51       70
781    Pumpkaboo Small Size   44     56       70
782    Pumpkaboo Large Size   54     46       70
783    Pumpkaboo Super Size   59     41       70
784  Gourgeist Average Size   65     84      122
785    Gourgeist Small Size   55     99      122
786    Gourgeist Large Size   75     69      122
787    Gourgeist Super Size   85     54      122
788                Bergmite   55     28       85
789                 Avalugg   95     28      184
790                  Noibat   40     55       35
791                 Noivern   85    123       80
792                 Xerneas  126     99       95
793                 Yveltal  126     99       95
794      Zygarde Half Forme  108     95      121
795                 Diancie   50     50      150
796            Mega Diancie   50    110      110
797          Hoopa Confined   80     70       60
798           Hoopa Unbound   80     80       60
799               Volcanion   80     70      120

[800 rows x 4 columns]

In [59]:
(-> pokemon
    (pt/subset-cols :Speed)
    ((npy :log)))

0      3.806662
1      4.094345
2      4.382027
3      4.382027
4      4.174387
5      4.382027
6      4.605170
7      4.605170
8      4.605170
9      3.761200
10     4.060443
11     4.356709
12     4.356709
13     3.806662
14     3.401197
15     4.248495
16     3.912023
17     3.555348
18     4.317488
19     4.976734
20     4.025352
21     4.262680
22     4.615121
23     4.795791
24     4.276666
25     4.574711
26     4.248495
27     4.605170
28     4.007333
29     4.382027
         ...
770    4.094345
771    4.770685
772    4.615121
773    3.912023
774    3.688879
775    4.094345
776    4.382027
777    4.317488
778    3.637586
779    4.025352
780    3.931826
781    4.025352
782    3.828641
783    3.713572
784    4.430817
785    4.595120
786    4.234107
787    3.988984
788    3.332205
789    3.332205
790    4.007333
791    4.812184
792    4.595120
793    4.595120
794    4.553877
795    3.912023
796    4.700480
797    4.248495
798    4.382027
799    4.248495
Name: Speed, Length: 800, dtype: float64

In [67]:
(-> pokemon pt/head pt/->clj)

[{:generation 1, :type-2 "Poison", :speed 45, :name "Bulbasaur", :type-1 "Grass", :defense 49, :# 1, :sp.-atk 65, :sp.-def 65, :legendary false, :hp 45, :attack 49} {:generation 1, :type-2 "Poison", :speed 60, :name "Ivysaur", :type-1 "Grass", :defense 63, :# 2, :sp.-atk 80, :sp.-def 80, :legendary false, :hp 60, :attack 62} {:generation 1, :type-2 "Poison", :speed 80, :name "Venusaur", :type-1 "Grass", :defense 83, :# 3, :sp.-atk 100, :sp.-def 100, :legendary false, :hp 80, :attack 82} {:generation 1, :type-2 "Poison", :speed 80, :name "Mega Venusaur", :type-1 "Grass", :defense 123, :# 4, :sp.-atk 122, :sp.-def 120, :legendary false, :hp 80, :attack 100} {:generation 1, :type-2 ##NaN, :speed 65, :name "Charmander", :type-1 "Fire", :defense 43, :# 5, :sp.-atk 60, :sp.-def 50, :legendary false, :hp 39, :attack 52}]

In [69]:
(show (pt/data-frame [{:a 1 :b 2} {:a 3 :b 4}]))

,a,b
0,1,2
1,3,4

In [70]:
(-> pokemon
    (pt/filter-rows #(-> % (pt/subset-cols :Defense) (pt/gt 200)))
    show)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [71]:
(pt/gt (pt/series [1 2 3]) 1)

0    False
1     True
2     True
dtype: bool

In [72]:
(defn my-filter
  [col1 col2]
  (npy :logical-and
       {:args [(-> pokemon
                   (pt/subset-cols col1)
                   (pt/gt 200))
               (-> pokemon
                   (pt/subset-cols col2)
                   (pt/gt 100))]}))

#'user/my-filter

In [73]:
(-> pokemon
    (pt/filter-rows (my-filter :Defense :Attack))
    show)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [75]:
(-> pokemon
    pt/mean)

#             400.50000
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

[From Pandas docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html)

- axis : {index (0), columns (1)} Axis for the function to be applied on.

- skipna : bool, default True Exclude NA/null values when computing the result.

- level : int or level name, default None If the axis is a MultiIndex (hierarchical), count along a particular level, collapsing into a Series.

- numeric_only : bool, default None Include only float, int, boolean columns. If None, will attempt to use everything, then use only numeric data. Not implemented for Series.

- \*\*kwargs Additional keyword arguments to be passed to the function.

In [76]:
(-> (pt/series [1 2 nil 3])
    (pt/mean {:skipna false}))

##NaN

In [77]:
(-> (pt/subset-cols pokemon :HP)
    ((juxt pt/mean pt/std pt/minimum pt/maximum)))

[69.25875 25.53466903233207 1 255]

In [78]:
(defn where
  [& args]
  (npy :where {:args args}))

(defn col-mean
  [col]
  (pt/mean (pt/subset-cols pokemon col)))

#'user/col-mean

In [79]:
(-> pokemon
    (pt/subset-cols :Speed)
    pt/head
    (pt/gt (col-mean :Speed))
    (where "high" "low"))

['low' 'low' 'high' 'high' 'low']

In [81]:
(col-mean :Speed)

68.2775

In [80]:
(def speed-level
  (-> pokemon
      (pt/subset-cols :Speed)
      (pt/gt (col-mean :Speed))
      (where "high" "low")))

(-> pokemon
    (pt/assign {:speed-level speed-level})
    (pt/subset-cols "speed_level" "Speed")
    (pt/head 10)
    show)

,speed_level,Speed
0,low,45
1,low,60
2,high,80
3,high,80
4,low,65
5,high,80
6,high,100
7,high,100
8,high,100
9,low,43

In [46]:
(-> pokemon (pt/subset-cols :Legendary) pt/value-counts)

False    735
True      65
Name: Legendary, dtype: int64